body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.grey-text {
  color: #adadad;
}

.bg-1 {
  width: 1440px;
  height: 900px;
  flex-shrink: 0;
  background: url(https://i.ibb.co/G9s3YN0/Bg-hero.png) no-repeat center center;
}
.nav {
  width: 1280px;
  height: 99px;
  flex-shrink: 0;
  justify-content: center;
  padding: 30px;
  position: relative;
}
.ornament {
  text-align: center;
  justify-content: center;
}
.bg1-logo {
  width: 130px;
  height: 30px;
  line-height: 100%;
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-menu-list1 a {
  font-family: Effra;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-menu-list2 a {
  font-family: Effra;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.register-button {
  border-radius: 40px;
  background: #fff;
}
.bg1-largefonts {
  text-align: center;
  font-family: Effra;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 112%;
}
.bg1-smallfonts {
  color: #8b8b8b;
  text-align: center;
  font-family: Effra;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.bg1-getstarted-button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #a8ff35;
}

.bg-2 {
  width: 1440px;
  height: 742px;
  flex-shrink: 0;
  background: #a8ff35;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.bg2-largefonts {
  text-align: center;
  font-family: Effra;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bg2-rectangle1 {
  width: 502px;
  height: 202px;
  /*   flex-shrink: 0; */
  border-radius: 16px;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
}
.bg2-rectangle2 {
  width: 341.226px;
  height: 82px;
  background: #030303;
  align-items: center;
  justify-content: center;
}
.bg2-rectangle2-logo {
  width: 25px;
  height: 25px;
  align-items: center;
  margin: 10px;
}
.cross-svg {
  width: 10px;
  height: 10px;
  margin-top: -3px;
}
.bg2-rectangle2-text {
  position: relative;
}
.fader {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(270deg, #030303 53.65%, rgba(3, 3, 3, 0.6) 100%);
}
.bg2-smallfonts {
  text-align: center;
  font-family: Effra;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.bg-3 {
  width: 1440px;
  height: 1350px;
  background: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.bg3-info {
  font-family: Effra;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.partners-logo {
  justify-content: space-between;
}
.partners-logo-companies {
  width: 266px;
  height: 120px;
  border-radius: 8px;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.partners-logo-names1 {
  width: 190px;
  height: 40px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names2 {
  width: 156px;
  height: 40px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names3 {
  width: 146px;
  height: 44px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names4 {
  width: 174px;
  height: 24px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names5 {
  width: 112px;
  height: 44px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names6 {
  width: 162px;
  height: 36px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names7 {
  width: 148px;
  height: 32px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names8 {
  width: 148px;
  height: 32px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names9 {
  width: 182px;
  height: 40px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names10 {
  width: 164px;
  height: 48px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names11 {
  width: 174px;
  height: 42px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names12 {
  width: 160px;
  height: 28px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names13 {
  width: 176px;
  height: 38px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names14 {
  width: 178px;
  height: 34px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names15 {
  width: 162px;
  height: 40px;
  background: lightgray 50% / cover no-repeat;
}
.partners-logo-names16 {
  width: 190px;
  height: 34px;
  background: lightgray 50% / cover no-repeat;
}

.bg-4 {
  width: 1440px;
  height: auto;
  background: #fafafa;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.bg4-info {
  text-align: center;
  font-family: Effra;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 80px;
}
.bg4-links {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bg4-links-logo {
  width: 124px;
  height: 124px;
  border-radius: 8px;
  background: #fff;
  justify-content: center;
  align-items: center;
  margin: 14px;
}
.bg4-links-logo-tweeter {
  border-radius: 8px;
  background: #a8ff35;
  width: 124px;
  height: 124px;
  justify-content: center;
  align-items: center;
}
.bg4-links-logo-image {
  width: 60px;
  height: 60px;
  background: no-repeat;
}
.bg4-tweets {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  padding: 30px;
}
.bg4-tweets1 {
  width: 800px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  display: inline-flex;
}
.bg4-tweets2 {
  width: 800px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  display: inline-flex;
}
.bg4-tweets3 {
  width: 800px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  display: inline-flex;
}
.bg4-viewmore-button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #000;
  margin-top: 30px;
  margin-bottom: 60px;
}

.bg-5 {
  width: 1440px;
  height: 1128px;
  background: #000;
  margin-left: -60px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bg-5-section1 {
  flex-direction: column;
  align-items: center;
  /*   padding: 20px; */
  margin-bottom: -40px;
}
.bg5-info {
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 80px;
}
.bg-5-select-button {
  width: 104px;
  height: 52px;
}

.bg5-monthly-yearly {
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 15px;
  padding-top: 30px;
  padding-bottom: 25px;
}
.bg-5-monthly-info {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.bg5-select-button-image {
  width: 104px;
  height: 52px;
  padding: 22px;
}
.bg5-yearly-info {
  color: #f5f5f5;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
  padding: 18px;
}
.bg5-select-plan {
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 100px;
}
.bg5-select-plan-personal {
  background: #fafafa;
  min-height: 500px;
  width: 280px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.bg5-select-plan-regular {
  background: #a8ff35;
  min-height: 500px;
  width: 280px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.bg5-select-plan-premium {
  background: #fafafa;
  min-height: 500px;
  width: 280px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
h3 {
  color: #000;
  font-family: Effra;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
}
h5 {
  color: #000;
  font-family: Effra;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
}
.bg-5-large-text {
  color: #000;
  font-family: Effra;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 64px */
}
.bg5-line {
  width: 296px;
  height: 1px;
  opacity: 0.2;
  background: #000;
}
.bg5-trial-green-button {
  background: #a8ff35;
  height: 45px;
  width: 225px;
  border-radius: 30px;
  border: none;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}
.bg5-trial-black-button {
  height: 45px;
  width: 225px;
  border-radius: 30px;
  border: none;
  background-color: black;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  justify-content: center;
  }
.bg5-trial-links {
  margin: 20px;
}
.bg5-h5-svg {
  align-items: center;
}
