body {
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.grey-text {
  color: #adadad;
}

.logo-1 {
  padding: 15px;
}

.menu-1 {
  color: white;
  padding-right: 10px;
}

.bg-1 {
  width: 100%;
  min-height: 900px;
  flex-shrink: 0;
  background: url(https://i.ibb.co/G9s3YN0/Bg-hero.png) center center;
  /*   overflow: hidden; */
}
.bg1-fonts {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav {
  /*   width: 100%; */
  /*   height: 99px; */
  /*   flex-shrink: 0; */
  justify-content: center;
  padding: 30px;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.bg1-logo1 {
  width: 40px;
  height: 40px;
}
.bg1-logo-info {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}
.nav-menu {
  justify-content: center;
  align-items: center;
}
.ornament {
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.bg1-logo {
  width: 130px;
  height: 30px;
  line-height: 100%;
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-menu-list1 {
  line-height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nav-menu-list1 a {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  display: inline-flex;
  padding: 12px 32px;
  gap: 10px;
}
.nav-menu-list2 a {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.register-button {
  border-radius: 40px;
  background: #fff;
}
.bg1-largefonts {
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 112%;
}
.bg1-smallfonts {
  color: #8b8b8b;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: -22px;
}
.bg1-getstarted-button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #a8ff35;
  margin-bottom: 50px;
}
.burger-button {
  display: none;
}
.burger {
  /*   position: relative; */
  right: -10px;
  top: 35px;
}
.nav-toggle:checked ~ .nav-menu .nav-menu-list1,
.nav-toggle:checked ~ .nav-menu .nav-menu-list2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-2 {
  width: 100%;
  min-height: 742px;
  flex-shrink: 0;
  background: #a8ff35;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}
.bg2-largefonts {
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bg2-rectangle1 {
  width: 502px;
  height: 202px;
  /*   flex-shrink: 0; */
  border-radius: 16px;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
}
.bg2-rectangle2 {
  width: 341.226px;
  height: 82px;
  background: #030303;
  align-items: center;
  justify-content: center;
}
.bg2-rectangle2-logo {
  width: 27.07px;
  height: 27.07px;
  align-items: center;
  margin: 10px;
    margin-left: -35px;
}
.cross-svg {
  width: 10px;
  height: 10px;
  margin-top: -3px;
}
.bg2-rectangle2-text {
  position: relative;
  justify-content: center;
  align-items: center;
}
.fader {
  width: 80px;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #000);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fader svg {
    width: 30px;
  height: 30px;
  margin-right: -150px;
/*   margin-left: 130px; */
}
.bg2-findtrend-text {
text-align: center;
font-size: 23.806px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.bg2-smallfonts {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.bg-3 {
    width: 100%;
  min-height: 1350px;
  background: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}
.bg3-info {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  /*     gap: 16px; */
  width: 1160px;
  overflow: scroll;
  flex-direction: row;
}
.bg3-partners-info {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.partners-logo {
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
}
.partners-logo-companies {
  width: calc(25% - 40px);
  max-width: 266px;
  height: 120px;
  border-radius: 8px;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.partners-logo-names1 {
  width: calc(100% - 40px);
  height: 40px;
}
.partners-logo-names2 {
  width: calc(100% - 40px);
  height: 40px;
}
.partners-logo-names3 {
  width: calc(100% - 40px);
  height: 44px;
}
.partners-logo-names4 {
  width: calc(100% - 40px);
  height: 24px;
}
.partners-logo-names5 {
  width: calc(100% - 40px);
  height: 44px;
}
.partners-logo-names6 {
  width: calc(100% - 40px);
  height: 36px;
}
.partners-logo-names7 {
  width: calc(100% - 40px);
  height: 32px;
}
.partners-logo-names8 {
  width: calc(100% - 40px);
  height: 32px;
}
.partners-logo-names9 {
  width: calc(100% - 40px);
  height: 40px;
}
.partners-logo-names10 {
  width: calc(100% - 40px);
  height: 48px;
}
.partners-logo-names11 {
  width: calc(100% - 40px);
  height: 42px;
}
.partners-logo-names12 {
  width: calc(100% - 40px);
  height: 28px;
}
.partners-logo-names13 {
  width: calc(100% - 40px);
  height: 38px;
}
.partners-logo-names14 {
  width: calc(100% - 40px);
  height: 34px;
}
.partners-logo-names15 {
  width: calc(100% - 40px);
  height: 40px;
}
.partners-logo-names16 {
  width: calc(100% - 40px);
  height: 34px;
}

.bg-4 {
    width: 100%;
  height: auto;
  background: #fafafa;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}
.bg4-info {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 80px;
}
.bg4-links-column {
    overflow-y: scroll;
  width: 100%;
}
.bg4-links {
  justify-content: center;
  display: inline-flex;
/*   flex-wrap: wrap; */
/*   gap: 16px; */
/*   width: auto; */
/*   overflow: scroll; */
}
.bg4-links-logo {
  width: 124px;
  height: 124px;
  border-radius: 8px;
  background: #fff;
  justify-content: center;
  align-items: center;
  margin: 14px;
  overflow: hidden;
}
.bg4-links-logo-tweeter {
  border-radius: 8px;
  background: #a8ff35;
  width: 124px;
  height: 124px;
  margin: 14px;
  justify-content: center;
  align-items: center;
}
.bg4-links-logo-image {
  width: 60px;
  height: 60px;
  background: no-repeat;
}
.bg4-tweets {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  padding: 30px;
}
.bg4-tweets1 {
  width: 800px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  display: inline-flex;
}
.bg4-tweets2 {
  width: 800px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  display: inline-flex;
}
.bg4-tweets3 {
  width: 800px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  display: inline-flex;
}
.bg4-viewmore-button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #000;
  margin-top: 30px;
  margin-bottom: 60px;
}

.bg-5 {
    width: 100%;
  min-height: 1128px;
  background: #000;
/*   margin-left: -60px; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.bg-5-section1 {
  flex-direction: column;
  align-items: center;
  margin-bottom: -40px;
}
.bg5-info {
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 80px;
}
.bg-5-select-button {
  width: 104px;
  height: 52px;
}

.bg5-monthly-yearly {
  justify-content: center;
  align-items: center;
  align-items: center;
  padding-bottom: 25px;
}
.bg5-monthly-info {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.bg5-select-button-image {
  width: 104px;
  height: 52px;
  padding: 22px;
}
.bg5-yearly-info {
  color: #f5f5f5;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
  padding: 18px;
}
.saving-svg {
  display: none;
}
.bg5-select-plan {
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 100px;
}
.bg5-select-plan-personal {
  background: #fafafa;
  width: 280px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.bg5-select-plan-regular {
  background: #a8ff35;
  width: 280px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.bg5-select-plan-premium {
  background: #fafafa;
  width: 280px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
h3 {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
}
h5 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
}
.bg-5-large-text {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 64px */
}
.bg5-line {
  width: 296px;
  height: 1px;
  opacity: 0.2;
  background: #000;
}
.bg5-trial-green-button1 {
  background: #a8ff35;
  height: 45px;
  width: 278px;
  border-radius: 30px;
  border: none;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  margin-top: 190px;
}
.bg5-trial-green-button2 {
  background: #a8ff35;
  height: 45px;
  width: 278px;
  border-radius: 30px;
  border: none;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}
.bg5-trial-black-button {
  height: 45px;
  width: 278px;
  border-radius: 30px;
  border: none;
  background-color: black;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  justify-content: center;
  margin-top: 140px;
}
.bg5-trial-links {
  margin: 20px;
}
.bg5-h5-svg {
  align-items: center;
}

.empty-space1 {
  height: 200px;
}
.empty-space2 {
  height: 147px;
}
.empty-space3 {
  height: 35px;
}

.bg-6 {
    width: 100%;
  min-height: 539px;
  background: #a8ff35;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.bg6-text {
  color: #000;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 112%; /* 80.64px */
  padding: 30px;
}
.bg6-button {
  width: 180px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #000;
  margin-bottom: 60px;
}
.bg6-special-text {
  color: #87D322;
text-align: center;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 112%; /* 80.64px */
}

.footer-bar {
    width: 100%;
  min-height: 100px;
  background: #fff;
  overflow: hidden;
}
.footer-logo {
  width: 40px;
  height: 40px;
  margin: 13px;
}
.footer-section1 {
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}
.footer-links {
  margin-left: auto;
  margin-right: 130px;
}
.footer-links-list {
  justify-content: center;
  align-items: center;
}
.footer-links-list a {
  margin: 20px;
  color: black;
}

.mobile-rectangle-rotate {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  display: none;
}

.mobile-rectangle-rotate-image {
  width: 27.259px;
  height: 27.259px;
  margin-right: 10px;
}
.x-mark1 {
  width: 13.631px;
  height: 13.63px;
  transform: rotate(-4deg);
  flex-shrink: 0;
}
.x-mark2 {
  width: 13.596px;
  height: 13.595px;
  transform: rotate(2deg);
}
.x-mark3 {
  width: 13.625px;
  height: 13.623px;
  transform: rotate(-2deg);
}
.x-mark4 {
  width: 13.553px;
  height: 13.55px;
  transform: rotate(4deg);
}
.fader1 {
  width: 72.692px;
  height: 70.42px;
  transform: rotate(-4deg);
  position: absolute;
  top: 0;
  right: 19px;
  background: linear-gradient(
    270deg,
    #181818 53.65%,
    rgba(24, 24, 24, 0.8) 100%
  );
}
.fader2 {
  width: 72.692px;
  height: 70.42px;
  transform: rotate(2deg);
  position: absolute;
  top: 0;
  right: 28px;
  background: linear-gradient(
    270deg,
    #181818 53.65%,
    rgba(24, 24, 24, 0.8) 100%
  );
}
.fader3 {
  width: 72.692px;
  height: 70.42px;
  transform: rotate(-2deg);
  position: absolute;
  top: 0;
  right: 28px;
  background: linear-gradient(
    270deg,
    #181818 53.65%,
    rgba(24, 24, 24, 0.8) 100%
  );
}
.fader4 {
  width: 72.692px;
  height: 70.42px;
  transform: rotate(4deg);
  position: absolute;
  top: 0;
  right: 19px;
  background: linear-gradient(
    270deg,
    #181818 53.65%,
    rgba(24, 24, 24, 0.8) 100%
  );
}
.mobile-rectangle-rotate1 {
  width: 293.038px;
  height: 70.42px;
  transform: rotate(-4deg);
  justify-content: center;
  align-items: center;
  background: #181818;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 8px;
  position: relative;
}
.mobile-rectangle-rotate2 {
  width: 293.038px;
  height: 70.42px;
  transform: rotate(2deg);
  justify-content: center;
  align-items: center;
  background: #181818;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 8px;
}
.mobile-rectangle-rotate3 {
  width: 293.038px;
  height: 70.42px;
  transform: rotate(-2deg);
  justify-content: center;
  align-items: center;
  background: #181818;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 8px;
}
.mobile-rectangle-rotate4 {
  width: 293.038px;
  height: 70.42px;
  transform: rotate(4deg);
  justify-content: center;
  align-items: center;
  background: #181818;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 8px;
}

.some-text1 {
  flex-direction: column;
  justify-content: flex-end;
  transform: rotate(6deg);
  width: 93px;
  margin-left: 280px;
  margin-bottom: -95px;
  display: none;
}
.some-text-fonts1 {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.some-text2 {
  flex-direction: column;
  margin-top: -90px;
  margin-left: -160px;
  display: none;
}

@media only screen and (max-width: 1250px) {
  .burger-button {
    display: block;
    position: fixed;
    top: 35px;
    right: 40px;
  }
    .bg1-logo1 {
    display: flex;
    position: fixed;
    left: 20px;
    top: 30px;
  }
   .bg1-logo-info {
    display: none;
  }
   .mobile-rectangle-rotate {
    display: block;
    align-items: center;
    justify-content: center;
    display: flex;
  }
   .nav-menu {
    display: flex;
    flex-direction: column;
    /*     position: relative; */
  }
  .nav-menu ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .nav-menu ul li {
    padding: 10px;
  }
   .nav-toggle {
    display: none;
  }
  .bg3-info {
    max-width: 1150px;
  }
}

@media only screen and (max-width: 970px) {
  .bg5-select-plan {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   .mobile-rectangle-rotate {
    display: block;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .bg2-rectangle1 {
    max-width: 339px;
    height: 118px;
  }
  .bg2-rectangle2 {
    max-width: 291px;
    height: 69.93px;
  }
  .some-text2,
  .some-text1 {
    display: block;
    display: flex;
    flex-direction: column;
  }
   .bg2-smallfonts {
  width: 286px;
  }
   .bg3-info, .bg3-partners-info {
    font-size: 50px;
  }
  .bg3-info {
    max-width: 900px;
  }
    .footer-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-left: -1px;
  }
  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .footer-links-list {
    display: flex;
    flex-direction: column;
  }
  ul.footer-links-list {
    gap: 30px;
  }
  .bg2-findtrend-text {
text-align: center;
font-size: 20.302px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
   .nav-toggle {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
    .bg5-select-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
   .mobile-rectangle-rotate {
    display: block;
    align-items: center;
    justify-content: center;
    display: flex;
  }
   .nav-toggle {
    display: none;
  }
  .bg3-info {
    max-width: 900px;
  }
}

@media only screen and (max-width: 400px) {
  .partners-logo-companies {
    width: calc(100% - 40px);
  }
  .bg3-info {
    max-width: 300px;
  }
}
@media only screen and (max-width: 850px) {
  .bg3-info {
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .ornament {
    text-align: center;
    justify-content: center;
  }

  .nav {
    width: 375px;
  }

  .bg1-logo-info {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .burger-button {
    display: block;
    position: fixed;
    top: 35px;
    right: 40px;
  }
  .nav-toggle:checked ~ .nav-menu .nav-menu-list1,
  .nav-toggle:checked ~ .nav-menu .nav-menu-list2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bg1-logo1 {
    display: flex;
    position: fixed;
    left: 20px;
    top: 30px;
  }
  .mobile-rectangle-rotate {
    display: block;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .bg1-largefonts {
    color: #FFF;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: 112%; /* 40.32px */
  }
  .bg1-smallfonts {
    color: #8B8B8B;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
    width: 286px;
    margin:15px;
  }
  .bg1-getstarted-button {
    margin-top: 22px;
  }
   .nav-menu {
    display: flex;
    flex-direction: column;
    /*     position: relative; */
  }
  .nav-menu ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .nav-menu ul li {
    padding: 10px;
  }

  .bg2-rectangle1 {
    max-width: 339px;
    height: 118px;
  }
  .bg2-rectangle2 {
    max-width: 291px;
    height: 69.93px;
  }
  .bg2-largefonts {
    color: #000;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 112%; /* 40.32px */
  }
  .bg2-smallfonts {
  width: 286px;
  }
  .bg-3 {
    margin-top: 60px;
  }
  .bg3-info, .bg3-partners-info {
    font-size: 36px;
  }
  .bg3-info {
    max-width: 335px;
  }
  .bg3-partners {
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .some-text2,
  .some-text1 {
    display: block;
    display: flex;
    flex-direction: column;
  }
  .footer-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-left: -1px;
  }
  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .footer-links-list {
    display: flex;
    flex-direction: column;
  }
  ul.footer-links-list {
    gap: 30px;
  }

  .partners-logo-companies {
    width: calc(50% - 40px);
  }

  .bg4-links-column {
  scroll-snap-align: center;
    overflow: scroll;

}
  .bg4-info {
    font-size: 36px;
    font-weight: 900;
  }

  .bg4-tweets1,
  .bg4-tweets2,
  .bg4-tweets3 {
    width: 339px;
  }

  .nav-toggle:checked ~ .nav-menu ul {
    display: block;
  }
  .bg-5 {
    display: flex;
    justify-content: center;
  }
  .bg5-info {
    color: #FFF;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
  }
  .bg5-monthly-info, .bg5-yearly-info {
    font-size: 18px;
  }
    .bg5-select-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .saving-svg {
    width: 100px;
    height: 100px;
    display: flex;
        flex-direction: column;
    margin-right: -170px;
    margin-top: -50px;
    margin-bottom: 20px;
  }
  .saving-svg2 {
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    width: 61.195px;
transform: rotate(6deg);
  }
  .nav-toggle {
    display: none;
  }
}
